version: 2
jobs:
  build:
    docker:
      - image: google/cloud-sdk:latest
    steps:
      - checkout
      - run: echo $ACCT_AUTH | base64 -d > ${HOME}/gcloud-service-key.json
      - run: cat  ${HOME}/gcloud-service-key.json
      - run: gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json
      - run: echo $PROJECT_ID
      - run: gcloud config set project $PROJECT_ID
      - run: ls -al bin/
      - run: chmod 500 bin/deploy.sh
      - run: chmod 500 bin/kms.sh
      - run: bin/kms.sh d
      - run: bin/deploy.sh

workflows:
  version: 2
  my-workflow:
    jobs:
      - build:
          context: GCP